.container {
  padding: 50px;
  display: flex;
  flex-wrap: wrap; /* Para que os elementos dentro do container possam quebrar para a próxima linha em telas pequenas */
}

.left {
  flex: 2;
  min-width: 0; /* Adicione isso para evitar que a imagem dentro do .left fique fora dos limites */
}

.right {
  flex: 1;
  min-width: 0; /* Adicione isso para evitar que o botão de pagamento fique fora dos limites */
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden; /* Para garantir que a imagem não saia dos limites */
}

.table {
  width: 100%;
  border-spacing: 20px;
  margin-top: 20px; /* Adicione um espaço superior para separar a tabela dos outros elementos */
}

.name {
  font-weight: 500;
  color: #d1411e;
  font-size: 18px;
  margin-bottom: 5px; /* Adicione um espaço inferior entre os nomes dos produtos */
}

.total {
  font-weight: 500;
  font-size: 18px;
}

.wrapper {
  width: 90%;
  max-height: 600px;
  background-color: #fdfdfd;
  padding: 20px; /* Reduza o preenchimento para tornar o conteúdo mais compacto */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(6, 6, 6);
  margin-top: 20px; /* Adicione um espaço superior para separar o conteúdo da parte superior */  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adicione uma sombra sutil */  
}

.totalTextTitle {
  margin-right: 10px; 
}


.button {
  height: 30px;
  color: #d1411e;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  background-color: white;
  padding: 5px 10px; /* Adicione preenchimento para tornar o botão mais clicável */
  border: 2px solid #d1411e; /* Adicione uma borda sólida */
  border-radius: 5px; /* Adicione borda arredondada */
  transition: background-color 0.3s, color 0.3s; /* Adicione uma transição suave nas cores */
}


.button:hover {
  background-color: #d1411e;
  color: white;
}

.buttonAddItens{
  height: 30px;
  color: teal; 
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  background-color: white;
  padding: 5px 10px; /* Adicione preenchimento para tornar o botão mais clicável */
  border: 2px solid teal;  /* Adicione uma borda sólida */
  border-radius: 5px; /* Adicione borda arredondada */
  transition: background-color 0.3s, color 0.3s; /* Adicione uma transição suave nas cores */
}
.buttonAddItens:hover {
  background-color: teal;
  color: white;
}



@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .trTitle {
    display: none;
  }

  .tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .imgContainer {
    width: 35vw;
    height: 35vw;
  }

  .name,
  .total {
    font-size: 24px;
  }

  .extras,
  .price,
  .quantity {
    font-size: 22px;
  }

  .price::before,
  .quantity::before,
  .total::before {
    content: attr(data-label);
    font-weight: 500;
  }

  .wrapper {
    width: 100%;
  }
}

.paymentMethods {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.payButton {
  padding: 10px 5px;
  cursor: pointer;
  margin-bottom: 5px;
  background-color: white;
  color: teal;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
}
